@import '../../common/sass/_variables.scss';

.file-upload {
    margin: 4rem 0rem;
    width: 100%;

    .zone {
        height: 8rem;
        border: 1px dashed gray;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &.active{
            border: 1px dashed $origin-orange;
            color: $origin-orange;
        }
    }
}