.LoadingScreen{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}